<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon Website</title>
</head>
<body>
    <img src="<%=dragon.pic%>" style="width: 100px">
    My name is
    <%= dragon.name%>
    I am a Dragon from the 
    <%= dragon.region%>
    region. 
    And I am the color
    <%= dragon.color%>                
<form method="GET" action="/dragon/edit/<%=id%>">
    <input type="submit" value="Edit Dragon">
</form>
<form method="POST" action="/dragon/delete/<%=id%>">
    <input type="submit" value="Delete Dragon">
</form>
</body>
</html>